$main-color: #2d9fd9;
$secondary-color: #7e9fd9;

$shadow-main-color: rgba(0, 0, 0, 0.25);
$spinner-color: #333;
$disabled-color: whitesmoke;
$navigate-btn: rgb(255, 255, 255);
$filter-border: rgb(204, 204, 204);
$view-hover: blue;
$table-header: #999;

$score-color: #cccc00;
$error: #ff0000;

$navbar-background: aliceblue;
$navbar-active: #cee8ff;
$navbar-box-shadow: #999;

$black: black;
$white: white;
$grey: grey;
$light-grey: lightgrey;
